js/
*.js.map

node_modules/
npm-debug.log*
yarn-error.log*

.env
.env.*

.DS_Store
Thumbs.db
desktop.ini

.vscode/
!.vscode/settings.json
!.vscode/extensions.json

*.log

*.pdf
*.enc

*.tsbuildinfo

.htaccess